lead_capture_n8n_workflow.json
{
  "name": "Lead Capture Automation",
  "nodes": [
    {
      "parameters": {
        "path": "lead-capture",
        "method": "POST"
      },
      "id": 1,
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "your_base_id",
        "tableId": "Leads",
        "fields": {
          "Name": "={{$json[\"name\"]}}",
          "Email": "={{$json[\"email\"]}}",
          "Message": "={{$json[\"message\"]}}"
        }
      },
      "id": 2,
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "channel": "#leads",
        "text": "New lead captured: {{$json[\"name\"]}} ({{$json[\"email\"]}})"
      },
      "id": 3,
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "your_email@gmail.com",
        "toEmail": "sales_team@example.com",
        "subject": "New Lead Captured",
        "text": "A new lead has been added:\nName: {{$json[\"name\"]}}\nEmail: {{$json[\"email\"]}}\nMessage: {{$json[\"message\"]}}"
      },
      "id": 4,
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}