n8n_instagram_reels_scheduler.json
{
  "name": "Instagram Reels Scheduler",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyMinute"
          }
        ]
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/reels-config.json",
        "responseFormat": "json",
        "options": {}
      },
      "name": "Fetch Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "reels"
      },
      "name": "Split Reels",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json[\"schedule\"] }}",
              "operation": "before",
              "value2": "={{ $now.toISOString() }}"
            }
          ]
        }
      },
      "name": "Check Schedule",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/publish",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ \"mediaPath\": $json[\"mediaPath\"], \"caption\": $json[\"caption\"] }"
      },
      "name": "Publish Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Fetch Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Config": {
      "main": [
        [
          {
            "node": "Split Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Reels": {
      "main": [
        [
          {
            "node": "Check Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Schedule": {
      "main": [
        [],
        [
          {
            "node": "Publish Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}